body
{
    margin:auto;
    background-image: url(https://www.wowpatterns.com/assets/files/resource_images/cross_lines_pattern.png)
}

header
{
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 150%;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav
{

}

a
{
    background-color: blue;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}